@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:wght@400&display=swap"); /* headings font */
@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap"); /* body font */

/* default page styles */
* {
  font-size: 16px;
  max-width: 1440px; /* desktop mode */
  font-family: "Karla", sans-serif;
  background-color: hsl(0, 0%, 98%);
  margin: 0px; /* resets css default margins */
  box-sizing: border-box; /* allows dimensions to be overriden by child elements */
}

.title {
  font-size: 4em;
  font-family: "DM Serif Display";
  font-weight: 400;
}

/* mobile mode */
@media screen and (max-width: 500px) {
}

/* HEADER COMPONENT */
.header-parent {
  display: flex; /* activates flexbox */
  height: 5em;
  padding: 1em 0em;
}

.align-items {
  display: flex;
  flex-flow: column wrap;
}

.header-items {
  padding: 1em;
  /* text */
  color: hsl(273, 4%, 51%);
  font-weight: 700;
  font-size: .8em;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .1em;
  transform: translateX(36em); /* shift links to the right */
}

.header-items:hover {
  color: hsl(256, 26%, 20%);
}

#logo {
  padding: 1em;
  margin-left: 8.5em;
}

.button {
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  border: 2px solid;
}

#header-button {
  width: 11em;
  height: 3em;
  padding-top: .7em;
  margin-top: .15em;
  margin-left: 1em;
  border-color: black;
  color: black;
}

#header-button:hover {
  background-color: hsl(256, 26%, 20%);
  color: white;
  border-color: white;
}

/* INTRO CONTAINER */
.intro-container {
  display: grid;
  height: 35rem;
  padding: 50px 10px 125px 150px;
  color: hsl(0, 0%, 98%);
  background-color: hsl(256, 26%, 20%);
  background-image: url(./images/bg-pattern-intro-right-desktop.svg);
  background-position: right;
  background-position-y: -5em;
  background-repeat: no-repeat;
}

.line-decoration {
  width: 10em;
  height: 0em;
  margin: 3em 0em;
}

#intro-title {
  background-color: hsl(256, 26%, 20%);
  width: 7em;
  padding-bottom: .4em;
  line-height: .9em;
}

#intro-p {
  background-color: hsl(256, 26%, 20%);
  padding-bottom: 2em;
  line-height: 1.5em;
  width: 34em;
  font-size: .9em;
  line-height: 1.7em;
}

#intro-button {
  background-color: hsl(256, 26%, 20%);
  font-weight: 400;
  width: 9.5em;
  height: 2.5em;
  padding-top: .5em;
  letter-spacing: .1em;
  font-size: .9rem;
  border: 1px solid white;
}

#intro-button:hover {
  background-color: hsl(0, 0%, 98%);
  color: hsl(256, 26%, 20%);
}

#family-photo {
  width: 32em;
  margin-left: 32.5em;
  margin-top: -20.5em; /* negative values cause element to overlap others */
}

/* AT A GLANCE COMPONENT */
#wavy-left-bg {
  margin-top: -23em;
  margin-left: -10em;
}

.at-a-glance {
  display: flex;
  flex-flow: column wrap;
  padding: 10em 2em 0em 0em;
  margin: 5em 6em 20em 10em;
  
}

.subtitle {
  font-size: 1.5em;
  padding: 1em 0em;
}

.feature-list {
  display: flex;
}

#middle-item {
  padding: 0em 1em;
}

.feature-item {
  margin-top: 3.5em;
}

/* FOOTER  COMPONENT */
.attribution {
  margin-top: 10px;
  font-size: 11px;
  text-align: center;
}

.attribution a {
  font-size: 11px;
}
