@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:wght@400&display=swap"); /* headings font */
@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap"); /* body font */

/* setting variables to hold colour codes */
// primary
$dark-violet: hsl(256, 26%, 20%);
$grayish-blue: hsl(216, 30%, 68%);
// neutral
$very-dark-violet: hsl(270, 9%, 17%);
$dark-greyish-violet: hsl(273, 4%, 51%);
$very-light-gray: hsl(0, 0%, 98%);

/* global styles */
* {
  // entire doc
  font-size: 16px;
  // max-width: 1440px /* desktop mode */
  font-family: "Karla", sans-serif;
  margin: 0; /* resets css default margins */
  box-sizing: border-box; /* allows dimensions to be overriden by child elements */
}

.title {
  font-size: 4.2em;
  font-family: "DM Serif Display";
  font-weight: 400;
}

.button {
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  border: 2px solid;
}

.line-decoration {
  width: 10em;
  margin: 3em 0em;
  color: $very-light-gray;
}

/* HEADER COMPONENT */
.header-parent {
  display: flex; /* activates flexbox */
  height: 5em;
  background-color: white;
  padding: 1em 0em;
  z-index: 2;
  position: relative;
}

.align-items {
  display: flex;
  padding-top: 0.2em;
  flex-flow: column wrap;
}

.header-items {
  padding: 1em;
  color: $dark-greyish-violet;
  font-weight: 700;
  font-size: 0.8em;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  transform: translateX(39em); /* shift links to the right */

  &:hover {
    color: $dark-violet;
  }
}

.logo {
  padding: 1em;
  margin-left: 9em;
}

#header-button {
  width: 11em;
  height: 3em;
  padding-top: 0.7em;
  margin-top: 0.15em;
  margin-left: 1em;
  border-color: $dark-violet;
  color: $dark-violet;

  &:hover {
    background-color: $dark-violet;
    color: white;
    font-weight: 700;
  }
}

/* INTRO CONTAINER */
.intro-container {
  display: grid;
  height: 40rem;
  padding: 4em 0em 5em 10em;
  color: $very-light-gray;
  background-color: $dark-violet;

  p {
    padding-bottom: 2em;
    line-height: 1.7em;
    width: 34em;
    font-size: 1em;
  }
}

#wavy-right-bg {
  margin: -50em 0em 0em auto;
  z-index: 1; /* puts waves on top of family photo | z-index based on 3d: higher numbers = closer */
}

#wavy-left-bg {
  margin-top: -19em;
  margin-left: -10em;
}

#intro-title {
  width: 7em;
  padding-bottom: 0.4em;
  line-height: 0.9em;
  padding-top: 0.3em;
}

#intro-button {
  font-weight: 400;
  width: 10em;
  height: 2.5em;
  padding-top: 0.5em;
  letter-spacing: 0.1em;
  font-size: 0.9rem;
  border: 1.5px solid white;

  &:hover {
    background-color: $very-light-gray;
    color: $dark-violet;
    font-weight: 700;
  }
}

#family-photo {
  width: 32em;
  margin-left: 35em; /* moves to right */
  margin-top: -23em; /* negative values cause element to overlap others */
  z-index: 0; /* puts family photo behind waves */
}

/* AT A GLANCE COMPONENT */
.at-a-glance {
  display: flex;
  flex-flow: column wrap;
  margin: 15.5em 0em 0em 10em;
  color: $very-dark-violet;

  p {
    color: $dark-greyish-violet;
  }
}

.subtitle {
  font-size: 1.5em;
  padding: 1em 0em;
}

.feature-list {
  display: flex;
}

#middle-item {
  padding: 0em 1.5em;
  width: 25em;
}

.feature-item {
  margin-top: 4em;
  line-height: 1.5em;
  width: 21.5em;
}

/* HOW WE WORK COMPONENT */
.how-we-work {
  display: flex;
  background-color: $dark-violet;
  margin: 10em 10em 9em 10em;
  width: 66.5em;
  height: 15em;
  color: white;

  h2 {
    font-size: 3.5em;
    width: 8.7em;
    line-height: 1em;
    margin: 1.3em 4.9em 0em 1.3em;
  }
}

#hww-wavy-bg {
  width: 25em; /* amount of space the wavy background takes */
  margin-left: auto; /* put bg on right side of container */
  z-index: 0; /* place bg behind button */
}

#hww-button {
  text-align: center;
  padding: 0.7em 0em;
  z-index: 1; /* put button in front of bg */
  font-size: 0.9em;
  margin: 7.2em -25em 0em 0em;
  letter-spacing: 0.1em;
  width: 11em;
  height: 2.7em;
  font-weight: 400;
  border: 1px solid white;

  &:hover {
    background-color: white;
    color: $dark-violet;
    font-weight: 700;
  }
}

/* FOOTER COMPONENT */
.contact-container {
  background-color: $very-light-gray;
  text-transform: uppercase;
  font-weight: 600;
  background-image: url(./images/bg-pattern-footer-desktop.svg);
  background-repeat: no-repeat;
  padding-bottom: 2.5em;

  hr {
    width: 78vw;
    margin-left: 10rem;
    color: $very-light-gray;
  }
}

.icon {
  margin-top: 3.3em;
  margin-bottom: 1.5em;
  margin-left: 0.8em;
}

.icon-bar {
  display: flex;
  margin-right: 7.8rem;

  img {
    padding-top: 4.5em;
    padding-bottom: 1.5em;
  }
}

/* using svg code in order to have access to change colour of image on hover */
svg path {
  flex-flow: column wrap;

  &:hover {
    fill: $dark-violet;
  }
}

.socials-container {
  padding-top: 0.8em; /* lines up social icons with logo */
  margin-left: auto;
  display: flex;
}

.footer-items {
  display: flex;
  margin-left: 10em;
  justify-content: space-between;
  width: 65vw;

  p {
    flex-flow: column wrap;
  }
}

.link-section {
  color: $dark-greyish-violet;
  margin-top: 2.5em;
  margin-bottom: 2em;
}

.link {
  color: $dark-violet;
  padding: 0.5em 0em;

  &:hover {
    text-decoration: underline;
  }
}

/******************** MOBILE VIEW STYLES ********************/
@media screen and (max-width: 500px) {
  /* HEADER COMPONENT */
  #family-photo {
    // resetting desktop styles
    width: 100%;
    margin: 0em;
  }

  .header-parent {
    margin: 0em 2em;
  }

  .header-logo {
    // centering on y axis
    margin-top: auto;
    margin-bottom: auto;
  }

  .dropdown-container {
    margin-left: auto; // pushes burger to the right
  }

  .ddown-content {
    background-color: $very-dark-violet;
    padding: 3em;
    line-height: 4.5em;
    background-image: url(./images/bg-pattern-mobile-nav.svg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain; // fill the container
  }

  .ddown-content a {
    font-weight: 500;
    font-size: 1.5em;
    text-align: center;
    text-transform: uppercase;
    color: white;
    text-decoration: none; // remove underline
    display: block;

    &:hover {
      color: $dark-greyish-violet;
    }
  }

  #header-button {
    color: white;
    border: 2px solid white;
    margin: 1em auto 15em 0em;
    // resetting desktop header button attributes
    width: 100%;
    height: auto;
    padding-top: 0em;

    &:hover {
      color: $dark-violet;
      background-color: white;
    }
  }

  /* INTRO CONTAINER */
  .intro-container {
    padding: 0em;
    height: auto;
    text-align: center;
    margin-top: -0.5em; // correcting white space between photo and intro
    color: $very-light-gray;
    background-image: url(./images/bg-pattern-intro-left-mobile.svg);
    background-position: top left;
    background-repeat: no-repeat;
    background-size: 15em;

    h2 {
      font-size: 3.5em;
      margin: 2em auto 0em;
    }

    p {
      margin: 1em 2em;
      line-height: 1.7em;
      width: auto;
      font-size: 1.2em;
    }
  }

  #wavy-transition-bg {
    width: 10em;
    margin: -14em auto;
    transform: translateX(100%);
  }

  #intro-button {
    font-weight: 400;
    width: 10em;
    height: 2.5em;
    padding-top: 0.6em;
    letter-spacing: 0.1em;
    font-size: 1rem;
    margin: 0em auto 6em;
    border: 1.5px solid white;

    &:hover {
      background-color: $very-light-gray;
      color: $dark-violet;
      font-weight: 700;
    }
  }

  /* AT A GLANCE COMPONENT */
  .at-a-glance {
    margin: 10em 2em;
    color: $very-dark-violet;
    text-align: center;

    hr {
      margin: 0em auto 3em;
    }

    h2 {
      font-size: 4rem;
      padding-bottom: 1em;
    }

    p {
      color: $dark-greyish-violet;
      font-size: 1.2rem;
      line-height: 1.7em;
      margin: 0em 1.2em;
    }
  }

  .feature-list {
    display: block;
  }

  #middle-item {
    width: auto;
    padding: auto;
  }

  .feature-item {
    margin-top: 4em;
    width: auto;
    line-height: 2em;

    h2 {
      padding-bottom: 1em;
      font-size: 2rem;
    }
  }

  /* HOW WE WORK COMPONENT */
  .how-we-work {
    display: block;
    width: auto;
    height: auto;
    margin: 10em 2em;
    padding: 6em 1em;
    text-align: center;
    background-image: url(./images/bg-pattern-how-we-work-mobile.svg);
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 15em;

    h2 {
      font-size: 3em;
      width: auto;
      margin: auto;
    }
  }

  #hww-button {
    font-size: 1.1em;
    margin: 3em 6em 0em;
  }

  /* FOOTER COMPONENT */
  .contact-container {
    text-align: center;
    background-position-x: -8em;
    background-position-y: -4em;
    background-size: 40em;

    hr {
      margin: 0em 2em;
    }
  }

  .icon-bar {
    display: block;
    margin: 3em auto;

    img {
      margin: auto;
    }
  }

  .socials-container {
    display: block;
    padding: 0;
  }

  .footer-items {
    display: block;
    margin: 3em auto;
  }
}
